@model List<JobPosting>
@{
    ViewData["Title"] = "Job Übersicht";
}

<div>
    <div class="h-100 p-5 bg-light border rounded-3">
        <h3 class=" display-3 text-center">Worktastic</h3>
    </div>
</div>

<div class="row">
<h5 class="m-lg-4">
    Finde deinen Traumjob hier auf unserer Seite!
</h5>
</div>


<div class="row">

    <div class="col-11">
        <input class="form-control-lg form-control" type="text" placeholder="Was genau suchst du?"/>
    </div>
    
    <div class="col-1">
        <button class="btn mt-1 btn-primary" type="button">Suchen</button>
    </div>
</div>

<hr />


<div class="list-group">
    @{
        foreach (JobPosting jobPosting in Model)
        {
                                        <a href="#" onclick="showModal(@jobPosting.Id);" data-bs-toggle="modal" data-bs-target="#modalJobPosting" class="list-group-item list-group-item-action" aria-                                  current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">@jobPosting.JobTitle</h5>
                                            <small>@jobPosting.JobLoction</small>
                                        </div>
                                        <p class="mb-1">@jobPosting.CompanyName</p>
                                        <small>@jobPosting.StartDate.ToShortDateString()</small>
                                        </a>
        }
    }
  
</div>

<!-- Modal -->
<div class="modal fade" id="modalJobPosting" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
            <p id="modalDescription"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

@section Scripts{
    <script>
        function showModal(id) {

            //Backend call to delelte job posting by id 
              $.ajax({
                 type: "GET",
                 url: "@Url.Action("GetJobPosting")",
                 data: {id: id},
                  success: function(data) {

                      document.getElementById('modalTitle').innerHTML = data.jobTitle;
                      document.getElementById('modalDescription').innerHTML = data.description;

                      var myModal = new bootstrap.Modal(document.getElementById('modalJobPosting'), options)
                      myModal.show('modalJobPosting');
                  }
              });        

    }

    </script>



}